<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Update Post - Bharatresult</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet" />
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="/admin/dashboard"> <img class="m-1" src="/assets/img/mylogo-trans.png" alt=""
                width="200" height="50">
        </a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                class="fas fa-bars"></i></button>

    </nav>
    <div id="layoutSidenav">
        <div th:replace="fragments :: header"></div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h2 class="mt-4 pb-2" style="border-bottom: 2px solid;">Posts Management</h2>
                    <ol class="breadcrumb mb-4 bg-light p-3 fw-large">
                        <li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item active">Update Post</li>
                    </ol>
                    <div th:if="${eventMsg}" class="alert alert-success alert-dismissible fade show" role="alert">
                        <span th:text="${eventMsg}"></span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <div th:if="${errorMsg}" class="alert alert-danger alert-dismissible fade show" role="alert">
                        <span th:text="${errorMsg}"></span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header">
                            <div>
                                <i class="fas fa-table me-1"></i>
                                Post
                                <button type="button" class="btn btn-outline-primary" style="margin-left: 80%;"
                                    data-bs-toggle="modal" data-bs-target="#updatePostModal"><i
                                        class="fa-solid fa-plus"></i> Another </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <form action="/admin/blog/update" method="post">
                                <!-- Check if post data is available once at the top -->
                                <div th:if="${post != null}">

                                    <!-- Post Id -->
                                    <div class="mb-3">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="id" name="id" placeholder="Post ID#"
                                                   th:value="${post.id}" required>
                                            <label for="fullTitle">Post ID#</label>
                                        </div>
                                    </div>

                                    <!-- Full Title -->
                                    <div class="mb-3">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="fullTitle" name="fullTitle" placeholder="Full Title"
                                                   th:value="${post.fullTitle}" required>
                                            <label for="fullTitle">Full Title</label>
                                        </div>
                                    </div>
                            
                                    <!-- Title -->
                                    <div class="mb-3">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="title" name="shortTitle" placeholder="Title"
                                                   th:value="${post.shortTitle}" required>
                                            <label for="title">Title</label>
                                        </div>
                                    </div>
                            
                                    <!-- Slug -->
                                    <div class="mb-3">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="url-slug" name="postUrl" placeholder="URL Slug"
                                                   th:value="${post.postUrl}">
                                            <label for="url-slug">URL Slug</label>
                                        </div>
                                    </div>
                            
                                    <!-- Categories -->
                                    <div class="mb-3">
                                        <label class="form-label ml-2"><strong>Category:</strong></label>
                                        <br>
                                        <div th:each="category : ${categories}" class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" th:id="${category.name}" th:name="category"
                                                   th:value="${category.name}" 
                                                   th:checked="${post.category != null && post.category.contains(category.name)}">
                                            <label class="form-check-label" th:for="${category.name}" th:text="${category.name}"></label>
                                        </div>
                                    </div>
                            
                                    <!-- Date -->
                                    <div class="mb-3">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="date" name="date" placeholder="Date"
                                                   th:value="${post.createdDate}">
                                            <label for="date">Date</label>
                                        </div>
                                    </div>
                            
                                    <!-- Content -->
                                    <div class="mb-3">
                                        <div class="form-floating">
                                            <textarea class="form-control" id="contentData" name="content" placeholder="Content" style="height: 400px;" required
                                                      th:text="${post.content}"></textarea>
                                            <label for="content">Content</label>
                                        </div>
                                    </div>
                                </div>
                            
                                <!-- If post is not received, leave the fields empty -->
                                <div th:unless="${post != null}">
                                    <!-- Full Title -->
                                    <div class="mb-3">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="fullTitle" name="fullTitle" placeholder="Full Title" required>
                                            <label for="fullTitle">Full Title</label>
                                        </div>
                                    </div>
                            
                                    <!-- Title -->
                                    <div class="mb-3">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="title" name="shortTitle" placeholder="Title" required>
                                            <label for="title">Title</label>
                                        </div>
                                    </div>
                            
                                    <!-- Slug -->
                                    <div class="mb-3">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="url-slug" name="postUrl" placeholder="URL Slug">
                                            <label for="url-slug">URL Slug</label>
                                        </div>
                                    </div>
                            
                                    <!-- Categories -->
                                    <div class="mb-3">
                                        <label class="form-label ml-2"><strong>Category:</strong></label>
                                        <br>
                                        <div th:each="category : ${categories}" class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" th:id="${category.name}" th:name="category"
                                                   th:value="${category.name}">
                                            <label class="form-check-label" th:for="${category.name}" th:text="${category.name}"></label>
                                        </div>
                                    </div>
                            
                                    <!-- Date -->
                                    <div class="mb-3">
                                        <div class="form-floating">
                                            <input type="date" class="form-control" id="date" name="date" placeholder="Date">
                                            <label for="date">Date</label>
                                        </div>
                                    </div>
                            
                                    <!-- Content -->
                                    <div class="mb-3">
                                        <div class="form-floating">
                                            <textarea class="form-control" id="contentData" name="content" placeholder="Content" style="height: 400px;" required></textarea>
                                            <label for="content">Content</label>
                                        </div>
                                    </div>
                                </div>
                            
                                <!-- Buttons -->
                                <div class="d-flex justify-content-end mt-4">
                                    <button type="button" id="previewButton" class="btn btn-secondary me-2 previewButton">Preview</button>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </form>
                            
                        </div>
                    </div>
                </div>
                <!-- modal for update Post -->
                <div class="modal model-lg fade" id="updatePostModal" tabindex="-1"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Update Post</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container mt-2">
                                <form action="/admin/blog/update" method="get">
                                    <!-- Name -->
                                    <div class="mb-3">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="floatingName"
                                                name="postId" placeholder="Post Id" required>
                                            <label for="floatingName">
                                                <i class="bi bi-person"></i> Post Id
                                            </label>
                                        </div>
                                    </div>
                                    <!-- Submit Button -->
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="container">
                    <!-- Preview Modal -->
                    <div class="modal fade" id="previewModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-fullscreen">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Preview</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body" id="previewContainer">
                                    ...
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="/js/scripts.js"></script>
    <script>
        $(".previewButton").on("click", function () {
            // Get the content from the input field with id 'contentData'
            var content = $("#contentData").val();

            // Set the content inside the modal body with id 'previewContainer'
            $("#previewContainer").html(content);

            // Show the modal
            var previewModal = new bootstrap.Modal(
                document.getElementById("previewModal")
            );
            previewModal.show();
        });
    </script>
</body>

</html>