<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>User Profile - Bharatresult</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
        <link href="/css/styles.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="/admin/dashboard"> <img class="m-1" src="/assets/img/mylogo-trans.png" alt="" width="200" height="50">
            </a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            
        </nav>
        <div id="layoutSidenav">
            <div th:replace="fragments :: header"></div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h2 class="mt-4 pb-2" style="border-bottom: 2px solid;">User Management</h2>
                    <ol class="breadcrumb mb-4 bg-light p-3 fw-large">
                        <li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item active">User Profile</li>
                    </ol>
                    <div class="card mb-4">
                        <div class="card-header">
                            <div>
                                <i class="fas fa-table me-1"></i>
                                Admin Profile
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th><b>#</b> Id</th>
                                        <td th:text="${user.id}">1</td> <!-- Dummy value for User ID -->
                                    </tr>
                                    <tr>
                                        <th><i class="bi bi-person-fill"></i> Name</th>
                                        <td th:text="${user.name}">John Doe</td> <!-- Dummy value for User Name -->
                                    </tr>
                                    <tr>
                                        <th><i class="bi bi-envelope-fill"></i> Email</th>
                                        <td th:text="${user.email}">johndoe@example.com</td> <!-- Dummy value for User Email -->
                                    </tr>
                                    <tr>
                                        <th><i class="bi bi-telephone-fill"></i> Mobile</th>
                                        <td th:text="${user.mobile}">+1 234 567 890</td> <!-- Dummy value for User Mobile -->
                                    </tr>
                                    <tr>
                                        <th><i class="bi bi-calendar-fill"></i> Date of Birth</th>
                                        <td th:text="${user.dob}">1990-01-01</td> <!-- Dummy value for User Date of Birth -->
                                    </tr>
                                    <tr>
                                        <th><i class="bi bi-lock-fill"></i> isBlocked</th>
                                        <td th:text="${user.isDeleted}">Active</td> <!-- Dummy value for User Status (Active) -->
                                    </tr>
                                    <tr>
                                        <th><i class="bi bi-clock-fill"></i> Created Date</th>
                                        <td th:text="${user.createdDate}">2020-01-01</td> <!-- Dummy value for User Created Date -->
                                    </tr>
                                    <tr>
                                        <th><i class="bi bi-clock-history"></i> Updated Date</th>
                                        <td th:text="${user.updatedDate}">2025-01-24</td> <!-- Dummy value for User Updated Date -->
                                    </tr>
                                    <tr>
                                        <th><i class="bi bi-clock-history"></i>Total Posts</th>
                                        <td>0</td> <!-- Dummy value for User Updated Date -->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    </div>
                </main>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="/js/scripts.js"></script>
    </body>
</html>
